<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="editPage" [navParams]="{mode: 'New'}">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let recipe of recipes; let i = index" (click)="loadRecipe(i)">
      <h2>{{ recipe.title }}</h2>
      <ion-note>{{ recipe.difficulty }}</ion-note>
    </button>
  </ion-list>
</ion-content>
