<ion-header>

  <ion-navbar>
    <ion-title>User Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <button ion-button clear (click)="onLogout()">Logout</button>
    </ion-item>
  </ion-list>
</ion-content>
