<ion-header>

  <ion-navbar>
    <ion-title>{{ recipe.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>{{ recipe.title }}</h2>
        <div class="subtitle">{{ recipe.difficulty }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <p>{{ recipe.description }}</p>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="subtitle" padding text-center *ngIf="recipe.ingredients.length > 0">Ingredients</div>
        <ion-list>
          <ion-item *ngFor="let ingredient of recipe.ingredients">
            <span>{{ ingredient.name }} ({{ ingredient.amount }})</span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="recipe.ingredients.length > 0">
      <ion-col text-center>
        <button ion-button clear (click)="addIngredientsToSL()">Add ingredients to shopping list</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button outline block (click)="editRecipe()">Edit Recipe</button>
      </ion-col>
      <ion-col>
        <button ion-button outline block color="danger" (click)="deleateRecipe()">Deleate Recipe</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
