<ion-content padding class="loginPage">
  <div class="error-info" *ngIf="error">
    <p class="error-message">{{ errorMessage }}</p>
  </div>
  <form [formGroup]="signinForm" (submit)="onSubmit()" class="login-box">
    <ion-list>
      <ion-item>
        <ion-label floating>Mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="submit-button" padding>
      <button ion-button block type="submit" [disabled]="!signinForm.valid">Login</button>
    </div>
    <div class="join-box" padding>
      <p text-center>Or if you dont have account,</p>
      <button ion-button block type="button" [navPush]="signupPage">Join us!</button>
    </div>
  </form>
</ion-content>