page-signin {
  .loginPage {
    background-image: url("./../assets/imgs/login_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .login-box {
      margin-top: 100px;
    }
    .error-info {
      position: absolute;
      top: 10px;
      .error-message {
        color: rgb(225, 77, 77);
        text-align: center;
      }
    }
  }
}
