<ion-header>

  <ion-navbar>
    <ion-title>{{ mode }} Recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="recipeForm" (submit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea type="text" formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Difficulty</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option *ngFor="let difficult of diffOptions" [value]="difficult">{{ difficult }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button ion-button clear block type="button" (click)="manageIngredients()">Manage Ingredients</button>
    <ion-list formArrayName="ingredients">
      <ion-item *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i = index" [formGroup]="ingredient">
        <ion-label fixed>Name:</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
        <ion-input type="number" formControlName="amount"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!recipeForm.valid">{{ mode }} Recipe</button>
  </form>
</ion-content>