<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="settingsPage" [navParams]="">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="newIngredientForm" (submit)="addNewIngredient()">
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input type="text" name="ingredientName" formControlName="name" placeholder="Milk"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Amount</ion-label>
        <ion-input type="number" name="ingredientAmount" formControlName="amount" placeholder="2"></ion-input>
      </ion-item>
    </ion-list>
    <div class="submit-box">
      <button ion-button block type="submit" [disabled]="!newIngredientForm.valid">Add Item</button>
    </div>
  </form>
  <div class="ingredients-list">
    <ion-list>
      <ion-item-sliding *ngFor="let ingredient of ingredients; let i = index">
        <ion-item>
          <h3>{{ ingredient.name }} ({{ ingredient.amount }})</h3>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="onRemoveIngredient(i)">
            <ion-icon name="trash"></ion-icon>
            Deleate
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>