<ion-header>

  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="signupForm" (submit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>Mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="submit-button" padding>
      <button ion-button block type="submit" [disabled]="!signupForm.valid">Join!</button>
    </div>
  </form>
  <div class="error-info" *ngIf="error">
    <p class="error-message">{{ errorMessage }}</p>
  </div>
</ion-content>
